server {
        listen 443 ssl http2;
        root {{ default_directory  }};
        index index.html index.nginx-debian.html ;
        server_name {{ server_name }};

        ssl_certificate  /etc/letsencrypt/live/{{ server_name }}/fullchain.pem ;
        ssl_certificate_key /etc/letsencrypt/live/{{ server_name }}/privkey.pem ;
 

}
